# General OS/Editor/Tool Files
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
*.log

# KiCAD Files
*.pro
*.bak
*.kicad_prl
*.kicad_sch-bak
.cache
fp-info-cache
sym-lib-table
fp-lib-table

# SolidWorks Files
*.SLDASM-Backup-*
*.SLDPRT-Backup-*
*.temp.sld*
*.backup.*

# Python Bytecode
__pycache__/
*.pyc

# Misc
.vscode/
.idea/
*.iml
*.out
*.class
